android/build
android/.gradle
android/.idea
android/android.iml
android/CampJoy.iml
android/local.properties
ios/Camp Joy Outdoors.xcodeproj/xcuserdata
ios/Camp Joy Outdoors.xcworkspace/xcuserdata
ios/Podfile.lock
ios/Pods
.DS_Store

android/IdentitreeStarterKit/.idea
ios/Identitree.xcworkspace/xcuserdata
ios/Identitree.xcodeproj/xcuserdata
